In [ ]:
##Start with Rx
import pandas as pd    
df = pd.read_csv('Patients.csv')
df.head()

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df2 = pd.read_csv('antipsychotics.csv')

In [ ]:
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
## Clear Mem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('barbit.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('barbit.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('benzo.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('diuretic.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
#ClearMem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('genanes.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('vasopressor.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem -> Move To Dx

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('fluid.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('shock.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('tbi.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('trauma.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem -> Move to Proc

In [ ]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

In [ ]:
df2 = pd.read_csv('bloodtrsf.csv')
df2.head()

In [ ]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

In [ ]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [ ]:
df['HADM_ID'].nunique()

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [1]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

,HADM_ID,CLASSIFIER_ICD9_CODE,DELIRIUM,GENDER,ETHNICITY,AGE,OVER_55,OVER_65,OVER_75,OVER_85,...,BAR,BENZ,DIUR,GENANES,VPRES,FLUID,SHOCK,TBI,TRAUMA,BLOODTRF
0,162948,486,0,1,0,88.570460,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN
1,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0.0
2,183647,28262,0,1,1,54.968949,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN
3,119643,388,0,1,0,83.191498,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0
4,167666,845,0,1,0,73.487785,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0.0

In [2]:
df2 = pd.read_csv('dialysis.csv')
df2.head()

   HADM_ID  DIAL
0   154460     0
1   130856     0
2   130856     0
3   119355     0
4   119355     0

In [3]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

,HADM_ID,CLASSIFIER_ICD9_CODE,DELIRIUM,GENDER,ETHNICITY,AGE,OVER_55,OVER_65,OVER_75,OVER_85,...,BENZ,DIUR,GENANES,VPRES,FLUID,SHOCK,TBI,TRAUMA,BLOODTRF,DIAL
0,162948,486,0,1,0,88.570460,1,1,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
1,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0.0,0.0
2,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0.0,0.0
3,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0.0,0.0
4,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0.0,0.0

In [4]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [5]:
df['HADM_ID'].nunique()

5446

In [6]:
df.to_csv('df.csv', index=False)

In [ ]:
##ClearMem

In [7]:
import pandas as pd    
df = pd.read_csv('df.csv')
df.head()

,HADM_ID,CLASSIFIER_ICD9_CODE,DELIRIUM,GENDER,ETHNICITY,AGE,OVER_55,OVER_65,OVER_75,OVER_85,...,BENZ,DIUR,GENANES,VPRES,FLUID,SHOCK,TBI,TRAUMA,BLOODTRF,DIAL
0,162948,486,0,1,0,88.570460,1,1,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
1,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0.0,0.0
2,183647,28262,0,1,1,54.968949,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
3,119643,388,0,1,0,83.191498,1,1,1,0,...,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0
4,167666,845,0,1,0,73.487785,1,1,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0.0,0.0

In [8]:
df2 = pd.read_csv('resus.csv')
df2.head()

   HADM_ID  RESUS
0   154460      0
1   130856      0
2   130856      0
3   119355      0
4   119355      0

In [9]:
df = df.merge(df2, on='HADM_ID', how='left')
df.head()

,HADM_ID,CLASSIFIER_ICD9_CODE,DELIRIUM,GENDER,ETHNICITY,AGE,OVER_55,OVER_65,OVER_75,OVER_85,...,DIUR,GENANES,VPRES,FLUID,SHOCK,TBI,TRAUMA,BLOODTRF,DIAL,RESUS
0,162948,486,0,1,0,88.570460,1,1,1,1,...,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN
1,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0.0,0.0,0.0
2,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0.0,0.0,0.0
3,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0.0,0.0,0.0
4,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0.0,0.0,0.0

In [10]:
df = df.drop_duplicates(subset='HADM_ID', keep="first")

In [11]:
df['HADM_ID'].nunique()

5446

In [12]:
df.to_csv('Final.csv', index=False)