In [1]:
import pandas as pd    
df = pd.read_csv('Final.csv')
df.head()
df.head()

,HADM_ID,CLASSIFIER_ICD9_CODE,DELIRIUM,GENDER,ETHNICITY,AGE,OVER_55,OVER_65,OVER_75,OVER_85,...,DIUR,GENANES,VPRES,FLUID,SHOCK,TBI,TRAUMA,BLOODTRF,DIAL,RESUS
0,162948,486,0,1,0,88.570460,1,1,1,1,...,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN
1,137521,3840,0,1,1,54.048395,0,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0.0,0.0,0.0
2,183647,28262,0,1,1,54.968949,0,0,0,0,...,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN
3,119643,388,0,1,0,83.191498,1,1,1,0,...,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0
4,167666,845,0,1,0,73.487785,1,1,0,0,...,NaN,NaN,NaN,0,0,0,0,0.0,0.0,0.0

In [4]:
df['OVER_55'].nunique()

3

In [6]:
df['HADM_ID'].count()

5446

In [7]:
df = df[df.OVER_55 != 99999]

In [8]:
df['HADM_ID'].count()

5168

In [12]:
df = df.dropna(axis=0)

In [13]:
df['HADM_ID'].count()

967

In [14]:
df['DELIRIUM'].value_counts()

0    589
1    378
Name: DELIRIUM, dtype: int64

In [15]:
df.to_csv('final_cleaned.csv', index=False)