In [1]:
import pandas as pd    
dia = pd.read_csv('DIAGNOSES_ICD.csv', low_memory=False)
dia.head()

   HADM_ID ICD9_CODE
0   172335     40301
1   172335       486
2   172335     58281
3   172335      5855
4   172335      4254

In [ ]:
dia.head()

In [ ]:
dia["ICD9_CODE"]= dia["ICD9_CODE"].replace(['78551', '99801', '78552', '99802', '4082', '9954', '9584', '9585'], "1")

In [ ]:
dia.head(50)

In [ ]:
dia['ICD9_CODE'].value_counts()

In [ ]:
X = ['1']
dia.loc[~dia.ICD9_CODE.isin(X), 'ICD9_CODE'] = '0'

In [ ]:
dia['ICD9_CODE'].value_counts()

In [ ]:
dia.head(50)

In [ ]:
dia.to_csv('shock.csv', index=False)