In [1]:
import pandas as pd    
rx = pd.read_csv('PRESCRIPTIONS.csv', low_memory=False)
rx.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,2214776,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,TACR1,021796,469061711.0,1mg Capsule,2,mg,2,CAP,PO
1,2214775,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,WARF5,006562,56017275.0,5mg Tablet,5,mg,1,TAB,PO
2,2215524,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Heparin Sodium,NaN,NaN,HEPAPREMIX,006522,338055002.0,"25,000 unit Premix Bag","25,000",UNIT,1,BAG,IV
3,2216265,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,BASE,D5W,NaN,NaN,HEPBASE,NaN,0.0,HEPARIN BASE,250,ml,250,ml,IV
4,2214773,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Furosemide,Furosemide,Furosemide,FURO20,008208,54829725.0,20mg Tablet,20,mg,1,TAB,PO

In [2]:
rx = rx[['HADM_ID','DRUG']]

In [3]:
rx.head()

   HADM_ID            DRUG
0   107064      Tacrolimus
1   107064        Warfarin
2   107064  Heparin Sodium
3   107064             D5W
4   107064      Furosemide

In [4]:
rx["DRUG"]= rx["DRUG"].replace(['Furosemide', 'Bumetanide', 'Ethacrynic acid', 'Ethacrynic Acid', 'Torsemide'], "1")

In [5]:
rx["DRUG"]= rx["DRUG"].replace(['furosemide', 'bumetanide', 'ethacrynic acid', 'torsemide'], "1")

In [6]:
rx.head(50)

    HADM_ID                     DRUG
0    107064               Tacrolimus
1    107064                 Warfarin
2    107064           Heparin Sodium
3    107064                      D5W
4    107064                        1
5    107064                 Warfarin
6    107064           Heparin Sodium
7    107064                      D5W
8    107064           Heparin Sodium
9    107064                 Warfarin
10   107064                      D5W
11   107064               Tacrolimus
12   107064               Tacrolimus
13   107064    Mycophenolate Mofetil
14   107064               Tacrolimus
15   107064               Tacrolimus
16   107064                      D5W
17   107064           Heparin Sodium
18   107064                 Warfarin
19   107064    Mycophenolate Mofetil
20   107064               Tacrolimus
21   107064               Tacrolimus
22   107064              Neutra-Phos
23   143045                      D5W
24   143045           Heparin Sodium
25   143045            Nitroglycerin
26   143045          Docusate Sodium
27   143045                  Insulin
28   143045         Atropine Sulfate
29   143045        Zolpidem Tartrate
30   143045            Midazolam HCl
31   143045         Nitroglycerin SL
32   143045                Lorazepam
33   143045        Magnesium Sulfate
34   143045       Potassium Chloride
35   143045                Ketorolac
36   143045                Ketorolac
37   143045               Sucralfate
38   143045           Vancomycin HCl
39   143045     Iso-Osmotic Dextrose
40   143045            Acetaminophen
41   143045            Acetaminophen
42   143045  Oxycodone-Acetaminophen
43   143045           Metoclopramide
44   143045            Midazolam HCl
45   143045         Morphine Sulfate
46   143045               Meperidine
47   143045        Magnesium Sulfate
48   143045       Potassium Chloride
49   143045     Nitroprusside Sodium

In [7]:
rx['DRUG'].value_counts()

Potassium Chloride                             192993
Insulin                                        143465
D5W                                            142241
1                                              136226
0.9% Sodium Chloride                           130147
NS                                             129731
Magnesium Sulfate                               90427
Iso-Osmotic Dextrose                            87005
Sodium Chloride 0.9%  Flush                     83392
Acetaminophen                                   78768
Metoprolol                                      73986
5% Dextrose                                     73829
SW                                              72522
Morphine Sulfate                                62134
Metoprolol Tartrate                             59824
Lorazepam                                       55352
Calcium Gluconate                               52110
Heparin                                         52069
Docusate Sodium                                 45694
Vancomycin                                      42634
Bisacodyl                                       41075
Warfarin                                        39678
Heparin Sodium                                  37702
HYDROmorphone (Dilaudid)                        37673
LR                                              35409
Propofol                                        34462
Pantoprazole                                    33587
Fentanyl Citrate                                31669
Senna                                           29152
Aspirin                                         28410
                                                ...
Lipitor                                             1
Halobetasol Propionate                              1
Cortroyson                                          1
cephalexin                                          1
Aspirin 81 mg or Placebo                            1
Calcitonin Salmon Nasal                             1
METOCLOPRAMIDE                                      1
Heparin flush                                       1
HYOS                                                1
Testosterone 2.5                                    1
Pneumococcal 23-Val P-Sac Vac                       1
Junel 1.5/30 (21)                                   1
Paroxetine Mesylate                                 1
CellCept                                            1
dorzolamide 2%                                      1
Klonopin                                            1
Aminocap                                            1
Prop                                                1
rev                                                 1
LIDOCAI                                             1
                                                    1
ZyrTEC                                              1
Allopurinol Sodium                                  1
Nystatin Oral Susp (Self Med)                       1
ERY                                                 1
Jolessa                                             1
Zovia 1/35E (28)                                    1
Epinephrine Base                                    1
MYCOPHENOLATE MOFETIL 250MG OR PLACEBO CAPS         1
Polymyxin B /Trimethoprim                           1
Name: DRUG, Length: 4520, dtype: int64

In [8]:
X = ['1']
rx.loc[~rx.DRUG.isin(X), 'DRUG'] = '0'

In [9]:
rx['DRUG'].value_counts()

0    4020224
1     136226
Name: DRUG, dtype: int64

In [10]:
rx.head(50)

    HADM_ID DRUG
0    107064    0
1    107064    0
2    107064    0
3    107064    0
4    107064    1
5    107064    0
6    107064    0
7    107064    0
8    107064    0
9    107064    0
10   107064    0
11   107064    0
12   107064    0
13   107064    0
14   107064    0
15   107064    0
16   107064    0
17   107064    0
18   107064    0
19   107064    0
20   107064    0
21   107064    0
22   107064    0
23   143045    0
24   143045    0
25   143045    0
26   143045    0
27   143045    0
28   143045    0
29   143045    0
30   143045    0
31   143045    0
32   143045    0
33   143045    0
34   143045    0
35   143045    0
36   143045    0
37   143045    0
38   143045    0
39   143045    0
40   143045    0
41   143045    0
42   143045    0
43   143045    0
44   143045    0
45   143045    0
46   143045    0
47   143045    0
48   143045    0
49   143045    0

In [11]:
rx.to_csv('diuretic.csv', index=False)