In [1]:
import pandas as pd    
pr = pd.read_csv('dial.csv', low_memory=False)
pr.head()

   SUBJECT_ID GENDER              DOB
0         249      F   3/13/2075 0:00
1         250      F  12/27/2164 0:00
2         251      M   3/15/2090 0:00
3         252      M    3/6/2078 0:00
4         253      F  11/26/2089 0:00

In [ ]:
df['HADM'].value_counts()

In [ ]:
X = ['1']
pr.loc[~pr.ICD9_CODE.isin(X), 'ICD9_CODE'] = '0'

In [ ]:
pr['ICD9_CODE'].value_counts()

In [ ]:
pr.head(50)

In [ ]:
pr.to_csv('dialysis.csv', index=False)